$font-family-base: ui-sans-serif, system-ui, sans-serif;

$custom-white: #f8f9fa;
$custom-placeholder: #e0cce9; 

$bg-button-hover: #d8d8d8;
$bg-button-danger-hover: #f5b7bd;

$body-bg: $custom-white;
$navbar-bg: transparent;

$body-color: #212529;

$primary: #0d6efd;
$secondary: #6c757d;
$success: #198754;
$danger: #dc3545;
$warning: #ffc107;
$info: #0dcaf0;

$light: #f8f9fa;
$dark: #212529;

$border-xs: 2px solid #000;
$border-sm: 3px solid #000;
$border-md: 5px solid #000;
$box-shadow-xs: 2px 2px 0 #000;
$box-shadow-sm: 3px 3px 0 #000;
$box-shadow-md: 5px 5px 0 #000;
$box-shadow-xs-hover: 3px 3px 0 #000;
$box-shadow-sm-hover: 5px 5px 0 #000;
$box-shadow-md-hover: 7px 7px 0 #000;

$enable-rounded: false;